<div class="main-container" @page-animation>
  <div class="container">
    <mat-card>
      <mat-card-header>
        <div class="mat-headline">Ghost Typer</div>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-body-strong">
          <app-ghost-typer [typings]="typings"></app-ghost-typer>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div class="mat-headline">Instructions</div>
      </mat-card-header>
      <mat-card-content>
        <div>
          Add any specific instructions you want viewers to follow
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="mat-headline">Notes</div>
      </mat-card-header>
      <mat-card-content>
        <div>
          Handcrafted with ♥ by
          <a id="links" href="https://pmithunish.com" target="_blank" rel="noopener">Mithunish Prabhakarn</a> from India.
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://pmithunish.com" target="_blank" rel="noopener" mat-button color="accent">Check My Website!</a>
        <a target="_blank" rel="noopener" mat-button color="primary">Action Button 1</a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="mat-headline">You love caffeine☕? I like caffeine☕ too!</div>
      </mat-card-header>
      <mat-card-actions>
        <a href="https://paypal.me/Mithunish/2.49usd" target="_blank" rel="noopener" mat-button color="accent">Buy Mithunish a caffeinated drink!</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
